<footer class="border-t border-gray-200 text-gray-500 text-sm" style="padding-left: env(safe-area-inset-left); padding-right: env(safe-area-inset-right);">
    <div class="md:mx-auto max-w-5xl px-4 md:px-8 py-2 flex flex-wrap">
        <p class="text-center sm:text-left my-1 flex-grow w-full sm:w-auto">Votre navigation sur ce site a émis environ <carbon-ara></carbon-ara></p>
        <p class="text-center sm:text-right my-1 w-full sm:w-auto">//&nbsp;by&nbsp;<a class="no-underline hover:underline" href="https://digital4better.com" target="_blank" rel="noopener">Digital4Better</a></p>
    </div>
</footer>
